/* Google Font - Outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
/* Variables */
:root {
  /* Colors */
  --colors-white: hsl(0, 0%, 100%);
  --colors-light-gray: hsl(212, 45%, 89%);
  --colors-grayish-blue: hsl(220, 15%, 55%);
  --colors-dark-blue: hsl(218, 44%, 22%);
  /* Fonts */
  --fonts-main: "Outfit", sans-serif;
}
/* Global Rules  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 15px;
}
body {
  font-family: var(--fonts-main);
  cursor: default;
}
/* Centering component */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 6px;
  background-color: var(--colors-light-gray);
}
/* QR code component */
.qr-card {
  max-width: 320px;
  min-height: 497px;
  padding: 16px;
  background-color: var(--colors-white);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.qr-card__img__wrapper {
  height: 288px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.qr-card__img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.qr-card__body {
  margin-top: 24px;
  text-align: center;
}
.qr-card__body h5 {
  color: var(--colors-dark-blue);
  font-size: 1.47rem;
  margin-bottom: 16px;
}
.qr-card__body p {
  color: var(--colors-grayish-blue);
  padding: 0 12px;
}
/* Footer */
footer {
  color: var(--colors-dark-blue);
  width: 100%;
  text-align: center;
  padding: 6px 0;
}